.new_web_url fieldset {
  border: 0 none;
}

.new_web_url label {
  color: #5C5C5C;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
  margin-left: 3px;
}

.new_web_url input[type=text] {
  border: 1px solid #DCDCDC;
  border-radius: 2px 2px 2px 2px;
  color: #5C5C5C;
  font-size: 13px;
  padding: 9px;
  width: 462px;
}

.new_web_url {
  border: 3px solid #DCDCDC;
  border-radius: 9px 9px 9px 9px;
  padding: 25px 30px;
}

.su_button {
  margin-top: 17px;
  margin-bottom: 10px;
}

.su_button input[type=submit] {
  background-color: #02A1D4;
  margin-bottom: 3px;
  color: #FFFFFF;
  padding-top: 4px;
  padding-bottom: 4px;
  -moz-transition: background-color 200ms linear 0s;
  background-image: -moz-linear-gradient(center top , transparent, rgba(154, 154, 154, 0.1));
  border: 0 none;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

