<script>
  var collection_urls = [];
</script>
<form class="new_web_url">
  <div class="field">
   <label for="web_url_url">Website URL:</label><br />
   <input type="text" size="30" name="web_url_url" id="web_url_url">
   <span id="error_message" class="error"></span>
  </div>
  <div class="su_button">
    <input type="submit" value="Add URL" name="commit">
  </div>
</form>
<ul>
  <% @web_urls.each do |web_url|%>
   <li><%= web_url.url_domain%></li>
    <script>
    collection_urls.push("<%=web_url.url_domain %>");
    </script>
  <% end %>
</ul>

